 /*
============================================
; Title: book-list.component.scss
; Author: Professor Krasso
; Date: 02/08/2022
; Modified By: Keith Hall
; Description: Book-list component. scss file.
;===========================================
*/
.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
