<!--
    Title: Contact Component.html
    Author: Professor Krasso
    Date: 01/25/2022
    Modified By: Keith Hall
    Description: HTML markup for Contact component of enterprise-composer-app.
-->
<div class= "container">
  <div class="row">
    <div class="col-sm-12">
      <h2 style="padding-left:19%; font-size: 32px">Contact Us</h2>
    </div>
  </div>
  <br /><br /> <br />
  <div class= "row location">
    <div class= "col-sm-2">
      <span class="glyphicon glyphicon-map-marker gi-2x"></span>&nbsp;<span style="font-size:24px"><strong>Address</strong></span><br /> <br />
        <span class="txt2">Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US</span>
    </div>
    <div class= "col-sm-8">
      <span class="glyphicon glyphicon-earphone gi-2x"></span>&nbsp;<span style="font-size:24px"><strong>Phone</strong></span><br /> <br />
      <ul class="list-group">
        <li class="list-group-item border-0">Direct: 555-555-5555</li>
        <li class="list-group-item border-0">Toll-free: 1-800-555-5555</li>
        <li class="list-group-item border-0">Fax: 555-555-5555</li>
      </ul>
    </div>
  </div>



