<div class= "container">
<div class="row">
  <div class="col-sm-6">
<table class="table table-bordered thread-dark-dark">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Ludwig Van Beethoven</th>
      <td>Classical</td>
    </tr>
    <tr>
      <th scope="row">Johann Sebastian Bach</th>
      <td>Classical</td>
    </tr>
    <tr>
      <th scope="row">Wolfgang Amadeus Mozart</th>
      <td colspan="2">Classical</td>
    </tr> <tr>
      <th scope="row">Johannes Brahms</th>
      <td colspan="2">Classical</td>
    </tr>
    <tr>
      <th scope="row">Joseph Haydn</th>
      <td colspan="2">Classical</td>
    </tr>
  </tbody>
</table>
</div>
