<!--
    Title: Home omponent.html
    Author: Professor Krasso
    Date: 01/11/2022
    Modified By: Keith Hall
    Description: HTML markup for home component of the secure-profile-app.
-->
<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class= "navbar-nav">
      <li class= "nav-item active">
          <a class= "nav-link" href= "#">Home</a>
      </li>
      <li class= "nav-item">
          <a class= "nav-link" href= "#">About</a>
      </li>
      <li class= "nav-item">
          <a class= "nav-link" href= "#">Contact</a>
      </li>
  </ul>
</nav>
<div class= "container">
<br /><br />
<h1 style= "text-align:center">Exercise 3.3 - Passing Data to Routes, Part 2</h1>
<br /><br />
<div class= "row" *ngIf= "isLoggedIn; else showError">  <!-- Checks for the value of isLoggedIn and calls for the show error template if set to false-->
  <div class= "col-sm-2">
    <app-my-image></app-my-image>
  </div>
  <div class= "col-sm-2" style= "margin-left:50px;">
    <app-my-details></app-my-details>
  </div>
</div>
<!-- Show error template -->
<ng-template #showError>
  <div class= "row">
    <div class= "col-sm-12">
      <h5 class= "alert alert-danger">
        You are not authorized to view this content.
      </h5>
    </div>
  </div>
</ng-template>
</div>
