 <!--
    Title: Main App Component
    Author: Professor Krasso
    Date: 01/25/2022
    Modified By: Keith Hall
    Description: Main HTML markup file for the enterprise-composer-app.
-->

<!--Navigation bar to remain visible in all view states-->

<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class= "navbar-nav">
    <!-- Links to the Components-->
      <li class= "nav-item active">
          <a class= "nav-link" routerLink= "./composer-list">Composer List</a> <!-- routerLink directive calls module files for this route.-->
      </li>
      <li class= "nav-item">
          <a class= "nav-link" routerLink= "./about">About</a>
      </li>
      <li class= "nav-item">
          <a class= "nav-link" routerLink= "./contact">Contact Us</a>
      </li>
  </ul>
</nav>
<div class= "container">

  <h1>{{ assignment }}</h1><br /><br />
  <div class= "row">
    <div class= "col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

