<!--
    Title: About Component.html
    Author: Professor Krasso
    Date: 01/24/2022
    Modified By: Keith Hall
    Description: HTML markup for the about component.
-->
<div class= "container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="align-center">Johann Sebastian Bach</h2>
    </div>
  </div>
  <!-- Container for profile picture and bio-->
  <div class= "lower-container">
  <div class= "row">
    <div class= "col-sm-2">
      <img src="./assets/bach-image.jpg" alt="Profile image of Johann Bach">
    </div>
    <div class= "col-sm-7" style= "margin-left:200px;margin-top:-7px">
       <p>Johann Sebastian Bach, one of the legends of the Baroque period, was born on March 21, 1685, in Eisenach, Thuringia, Germany. The early 18th century is considered the beginning of his career. Bach is renowned for his vast collection of church music, pieces known as his "Passions," Lutheran Chorales, and cantatas.
        Johann Sebastian Bach died in Leipzig on July 28, 1750. The excellence of his compositions was realized much later by composers such as Mozart and Beethoven.
        </p>
    </div>
    <caption><a href="https://www.biography.com/musician/johann-sebastian-bach" target="_blank" >Photo at biography.com</a></caption>
  </div>
</div>
  </div>

