 /*
============================================
; Title:  app.component.scss
; Author: Professor Krasso
; Date: 02/05/2022
; Modified By: Keith Hall
; Description: Component scss file.
;===========================================
*/
.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
