/*
============================================
; Title:  Sign-in Component.css
; Author: Professor Krasso
; Date: 01/14/2022
; Modified By: Keith Hall
; Description: Css File for sign-in component of enhanced-secure-profile-app  
;===========================================
*/
.signIn-container {

  width: 35%;
  margin: 0 auto;
  margin-top: 10%;
}
.float-right {
  float: right;
}
.form-group {
  padding: 2px;
}
